footer {
  text-align: center;
  padding: 20px;
  background-color: rgb(41, 3, 64);
  color: #fff;
  margin-top: 20px;
}

footer a {
  color: #bbdefb;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
