* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

.container {
  max-width: 1200px;
  margin: 80px auto 20px;
  padding: 0 20px;
  position: relative;
  z-index: 1;
}

header h1 {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 20px;
  color: rgb(41, 3, 64);
}
